stages:
  - merge-request

create mr:
  stage: merge-request
  rules:
      - if: $CI_OPEN_MERGE_REQUESTS == null
  before_script:
      # Install jq (https://stedolan.github.io/jq/download/)
      - apt-get update -y && apt-get install -y jq
  script:
      - sh open-merge-request.sh
