stages:
  - merge-request

create mr:
  stage: merge-request
  rules:
      - if: $CI_OPEN_MERGE_REQUESTS == null
  before_script:
      # Install jq (https://stedolan.github.io/jq/download/)
      - apt-get update -y && apt-get install -y jq
  script:
      # Determine parent branch
      - git fetch --all
      - git show-branch
      - parent_branch=$(git show-branch | sed "s/].*//" | grep "\*" | grep -v "$(git rev-parse --abbrev-ref HEAD)" | head -n1 | sed "s/^.*\[//")
      - echo $parent_branch
