stages:
  - merge-request

create mr:
  stage: merge-request
  rules:
      - if: $CI_OPEN_MERGE_REQUESTS == null
  before_script:
      # Install jq (https://stedolan.github.io/jq/download/)
      - apt-get update -y && apt-get install -y jq
  script:
      # Need all remote branches
      - git fetch --no-tags

      ## Debug statement
      - git show-branch --remote

      - nearest_parent_branch=$(git show-branch --remote | sed "s/].*//" | grep "++ \[" | head -n1 | sed "s/^.*\[origin\///")

      ## Debug statement
      - echo $nearest_parent_branch

      - 'created_merge_request_response=$(curl -X POST --header "Authorization:Bearer ${PERSONAL_ACCESS_TOKEN}" --header "Content-Type: application/json" -d "{\"title\": \"${CI_COMMIT_MESSAGE}\"}" "https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/merge_requests?source_branch=${CI_COMMIT_BRANCH}&target_branch=${nearest_parent_branch}")'

      - merge_request_url=$(echo $created_merge_request_response | jq '.web_url' | tr -d '"')
      - 'echo "Created MR link: ${merge_request_url}"'
